@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Overpass:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-favorite:before {
  content: "\e900";
}

._icon-email:before {
  content: "\e901";
}

._icon-phone:before {
  content: "\e902";
}

._icon-arow-up:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

._icon-volume:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-development:before {
  content: "\e908";
}

._icon-facebook:before {
  content: "\e909";
}

._icon-instagram:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6257fe;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 2.875rem;
  padding-right: 2.875rem;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #100c46;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7777777778;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_blue {
  background-color: #6257fe;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(98, 87, 254, 0.3);
          box-shadow: 0px 10px 30px 0px rgba(98, 87, 254, 0.3);
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  line-height: 1.6;
  padding: 0.3125rem 0.625rem;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border: 1px solid #aaa8a8;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  min-height: 9.375rem;
  max-height: 19.0625rem;
  resize: vertical;
  background-color: transparent;
  line-height: 1.6;
  padding: 0.3125rem 0.625rem;
}

textarea.input:focus {
  outline: none;
  border: 1px solid #aaa8a8;
}

.form__error {
  color: red;
  font-size: 0.875rem;
  font-weight: 600;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  line-height: 1.6;
  color: #fff;
}

.header-block_white {
  color: #fff;
}

.header-block_blue .header-block__title {
  color: #100c46;
}

.header-block_center {
  text-align: center;
}

.header-block__label {
  font-size: 1rem;
}

.header-block__label:not(:last-child) {
  margin-bottom: 0.4375em;
}

.header-block__title {
  font-weight: 700;
  font-family: "Overpass";
}

.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  padding: 1.0625rem 0rem 1.0625rem 0.9375rem;
}

.header__social {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  background-color: #6257fe;
  padding: 1.375rem 1.625rem;
}

.header__link::before {
  color: #fff;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  line-height: 1.6;
  color: rgba(16, 12, 70, 0.8);
}

.footer__button {
  background-color: #6257fe;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-color: #6257fe;
}

.main__text p:not(:last-child) {
  margin-bottom: 0.75em;
}

.who__body {
  position: relative;
}

.who__body::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #100c46;
}

.who__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.who__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.who__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.8976377953%;
          flex: 0 0 58.8976377953%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.who__image-ibg {
  padding-bottom: 80.614973262%;
}

.services {
  position: relative;
}

.services__container {
  position: relative;
}

.services__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50.7874015748%;
          flex: 0 1 50.7874015748%;
}

.services__image-ibg {
  padding-bottom: 133.2552693208%;
}

.services__image {
  display: none;
}

.body-services__items {
  color: #100c46;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.item-services__icon {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 0.35em;
}

.item-services__title {
  font-weight: 600;
  line-height: 1.4545454545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.item-services__title:not(:last-child) {
  margin-bottom: 1em;
}

.item-services__title::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 4.8125rem;
          flex: 1 1 4.8125rem;
  height: 0.125rem;
  background-color: #100c46;
}

.item-services__text {
  line-height: 1.6;
}

.portfolio__image-ibg {
  padding-bottom: 135%;
  overflow: hidden;
}

.portfolio__image-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-prev {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(98, 87, 254, 0.3);
  border-radius: 40%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
  background-color: rgba(98, 87, 254, 0.3);
}

.swiper-button-next {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(98, 87, 254, 0.3);
  border-radius: 40%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
  background-color: rgba(98, 87, 254, 0.3);
}

.slide-team__card {
  position: relative;
}

.slide-team__image-ibg {
  padding-bottom: 135%;
  position: relative;
  overflow: hidden;
}

.slide-team__image-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-team__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(98, 87, 254, 0.8);
  padding: 0.875rem 0.875rem;
}

.slide-team__body {
  position: relative;
  z-index: 2;
  color: #fff;
}

.slide-team__name {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 600;
}

.slide-team__name:not(:last-child) {
  margin-bottom: 0.625rem;
}

.slide-team__label {
  font-size: 0.875rem;
}

.slide-team__social {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  gap: 0.6875rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.8818897638%;
          flex: 0 0 34.8818897638%;
}

.contact__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  padding: 8.8125rem 0rem;
}

.contact__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.9375rem;
  height: 100%;
  width: 100vw;
  background-color: #6257fe;
}

.form__line {
  background-color: #f4f3ff;
  padding: 0.5625rem 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.form__label {
  color: rgba(16, 12, 70, 0.8);
}

.info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-contact__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74.7297297297%;
          flex: 0 0 74.7297297297%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 38.5625rem;
  position: relative;
}

.info-contact__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-contact__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  color: #fff;
}

.info-contact__item {
  position: relative;
  z-index: 2;
}

.item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0.5rem;
}

.item-contact__title {
  font-weight: 600;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.item-contact__title::before {
  font-size: 1.25rem;
}

.item-contact__link {
  font-size: 1rem;
}

.item-contact__text {
  font-size: 1rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__body {
    width: 30.157480315%;
  }

  .main__image-ibg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.6805555556%;
            flex: 0 0 58.6805555556%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .who__item {
    max-width: 29.75rem;
  }

  .who__picture {
    -webkit-transform: translate(0.9375rem, 0);
        -ms-transform: translate(0.9375rem, 0);
            transform: translate(0.9375rem, 0);
    -webkit-box-shadow: 0px 10px 50px 0px rgba(16, 12, 70, 0.2);
            box-shadow: 0px 10px 50px 0px rgba(16, 12, 70, 0.2);
  }

  .services::before {
    content: "";
    position: absolute;
    width: 41.3194444444%;
    height: 100%;
    background-color: #6257fe;
    top: 0;
    right: 0;
  }

  .services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49.2125984252%;
            flex: 0 1 49.2125984252%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .services__image {
    display: block;
    position: absolute;
  }
}

@media (min-width: 47.99875em) and (min-width: 90em) {
  .services__picture {
    padding-bottom: 10.3125rem;
  }

  .services__picture {
    padding-right: 9.1875rem;
  }

  .services__picture {
    padding-left: 3.125rem;
  }

  .services__picture {
    padding-top: 10.3125rem;
  }

  .services__image {
    right: -4.0625rem;
  }

  .services__image {
    bottom: -1.4375rem;
  }

  .services__image img {
    widht: 26.6875rem;
  }

  .services__image img {
    height: 35.5625rem;
  }
}

@media (min-width: 61.99875em) {
  .contact__info::before {
    left: 14.25rem;
  }
}

@media (min-width: 79.375em) {
  .contact__container {
    -webkit-column-gap: 5.5625rem;
       -moz-column-gap: 5.5625rem;
            column-gap: 5.5625rem;
  }

  .info-contact {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }
}

@media (min-width: 81.25em) {
  .button {
    padding-top: 1.1875rem;
  }

  .button {
    padding-bottom: 1.1875rem;
  }

  .page__portfolio {
    padding-top: 9.125rem;
  }

  .page__portfolio {
    padding-bottom: 10.9375rem;
  }

  .page__team {
    padding-top: 9.125rem;
  }

  .page__team {
    padding-bottom: 10.9375rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .footer__copy {
    font-size: 1.25rem;
  }

  .main__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .who__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .who__text *:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .item-services__title {
    font-size: 1.375rem;
  }

  .item-services__text {
    font-size: 1.375rem;
  }

  .portfolio__header:not(:last-child) {
    margin-bottom: 3.9375rem;
  }

  .team__header:not(:last-child) {
    margin-bottom: 3.9375rem;
  }

  .team__buttons:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .slide-team__info {
    -webkit-column-gap: 1.4375rem;
       -moz-column-gap: 1.4375rem;
            column-gap: 1.4375rem;
  }

  .contact__header:not(:last-child) {
    margin-bottom: 3.375rem;
  }

  .form > *:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .form__label {
    font-size: 1.25rem;
  }

  .info-contact__items {
    row-gap: 4.6875rem;
  }
}

@media (min-width: 90em) {
  .header-block__title {
    font-size: 3.5rem;
  }

  .footer {
    padding-top: 7rem;
  }

  .footer {
    padding-bottom: 5.9375rem;
  }

  .footer__button {
    width: 4.375rem;
  }

  .footer__button {
    height: 4.375rem;
  }

  .main__content {
    padding-top: 16.0625rem;
  }

  .main__content {
    padding-bottom: 19.5rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 4.1875rem;
  }

  .who__container {
    padding-top: 9.25rem;
  }

  .who__container {
    padding-bottom: 9.25rem;
  }

  .who__content {
    padding-top: 4.8125rem;
  }

  .who__content {
    padding-bottom: 4.8125rem;
  }

  .body-services {
    padding-top: 7.5rem;
  }

  .body-services {
    padding-bottom: 7.5rem;
  }

  .body-services__header:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .body-services__items {
    gap: 4rem;
  }
}

@media (max-width: 75em) {
  .body-services__items {
    gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .button {
    padding-top: 0.875rem;
  }

  .button {
    padding-bottom: 0.875rem;
  }

  .page__portfolio {
    padding-top: 0.9375rem;
  }

  .page__portfolio {
    padding-bottom: 0.9375rem;
  }

  .page__team {
    padding-top: 0.9375rem;
  }

  .page__team {
    padding-bottom: 0.9375rem;
  }

  .text {
    font-size: 1rem;
  }

  .footer__copy {
    font-size: 1rem;
  }

  .main__header:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .who__header:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .who__text *:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .item-services__title {
    font-size: 1.25rem;
  }

  .item-services__text {
    font-size: 1rem;
  }

  .portfolio__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .team__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .team__buttons:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .slide-team__info {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .contact__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .form > *:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .form__label {
    font-size: 1rem;
  }

  .info-contact__items {
    row-gap: 1.25rem;
  }
}

@media (max-width: 71.875em) {
  .contact__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .who__container {
    padding-top: 0.0000000625rem;
  }

  .who__container {
    padding-bottom: 0.0000000625rem;
  }

  .body-services {
    padding-top: 1.25rem;
  }

  .body-services {
    padding-bottom: 1.25rem;
  }

  .body-services__header:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 0.9375rem;
  }

  .contact__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact__body:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .contact__info {
    padding: 1.875rem 0rem;
  }

  .info-contact {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header-block__title {
    font-size: 2.0625rem;
  }

  .footer {
    padding-top: 0.9375rem;
  }

  .footer {
    padding-bottom: 0.9375rem;
  }

  .main__content {
    padding-top: 5rem;
  }

  .main__content {
    padding-bottom: 1.875rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main__image-ibg {
    padding-bottom: 93.8888888889%;
  }

  .who__body::before {
    width: 100%;
  }

  .who__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .who__content {
    padding-top: 1.875rem;
  }

  .who__picture {
    margin: 0 -0.9375rem;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .services__picture {
    margin: 0 -0.9375rem;
  }

  .team__slider {
    margin: 0rem -0.9375rem 0rem 0rem;
    padding: 0rem 0.9375rem 0rem 0rem;
  }

  .info-contact {
    display: block;
  }

  .info-contact__map:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 42.31125em) {
  .who__content {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 31.24875em) {
  .portfolio__slider {
    margin-right: -0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .button {
    width: 100%;
  }

  .footer__button {
    width: 2.5rem;
  }

  .footer__button {
    height: 2.5rem;
  }
}

@media (min-width: 20em) and (max-width: 81.25em) {
@supports (padding-top: clamp( 0.875rem , 0.7729591837rem  +  0.5102040816vw , 1.1875rem )) {
    .button {
      padding-top: clamp( 0.875rem , 0.7729591837rem  +  0.5102040816vw , 1.1875rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , 0.7729591837rem  +  0.5102040816vw , 1.1875rem )) {
    .button {
      padding-top: calc(
				0.875rem + 0.3125 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (padding-bottom: clamp( 0.875rem , 0.7729591837rem  +  0.5102040816vw , 1.1875rem )) {
    .button {
      padding-bottom: clamp( 0.875rem , 0.7729591837rem  +  0.5102040816vw , 1.1875rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.7729591837rem  +  0.5102040816vw , 1.1875rem )) {
    .button {
      padding-bottom: calc(
				0.875rem + 0.3125 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (padding-top: clamp( 0.9375rem , -1.7359693878rem  +  13.3673469388vw , 9.125rem )) {
    .page__portfolio {
      padding-top: clamp( 0.9375rem , -1.7359693878rem  +  13.3673469388vw , 9.125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -1.7359693878rem  +  13.3673469388vw , 9.125rem )) {
    .page__portfolio {
      padding-top: calc(
				0.9375rem + 8.1875 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -2.3278061224rem  +  16.3265306122vw , 10.9375rem )) {
    .page__portfolio {
      padding-bottom: clamp( 0.9375rem , -2.3278061224rem  +  16.3265306122vw , 10.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -2.3278061224rem  +  16.3265306122vw , 10.9375rem )) {
    .page__portfolio {
      padding-bottom: calc(
				0.9375rem + 10 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (padding-top: clamp( 0.9375rem , -1.7359693878rem  +  13.3673469388vw , 9.125rem )) {
    .page__team {
      padding-top: clamp( 0.9375rem , -1.7359693878rem  +  13.3673469388vw , 9.125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -1.7359693878rem  +  13.3673469388vw , 9.125rem )) {
    .page__team {
      padding-top: calc(
				0.9375rem + 8.1875 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -2.3278061224rem  +  16.3265306122vw , 10.9375rem )) {
    .page__team {
      padding-bottom: clamp( 0.9375rem , -2.3278061224rem  +  16.3265306122vw , 10.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -2.3278061224rem  +  16.3265306122vw , 10.9375rem )) {
    .page__team {
      padding-bottom: calc(
				0.9375rem + 10 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .text {
      font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .text {
      font-size: calc(
				1rem + 0.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .footer__copy {
      font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .footer__copy {
      font-size: calc(
				1rem + 0.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem )) {
    .main__header:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem )) {
    .main__header:not(:last-child) {
      margin-bottom: calc(
				0.625rem + 1.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem )) {
    .who__header:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem )) {
    .who__header:not(:last-child) {
      margin-bottom: calc(
				0.625rem + 1.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem )) {
    .who__text *:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2168367347rem  +  2.0408163265vw , 1.875rem )) {
    .who__text *:not(:last-child) {
      margin-bottom: calc(
				0.625rem + 1.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (font-size: clamp( 1.25rem , 1.2091836735rem  +  0.2040816327vw , 1.375rem )) {
    .item-services__title {
      font-size: clamp( 1.25rem , 1.2091836735rem  +  0.2040816327vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.2091836735rem  +  0.2040816327vw , 1.375rem )) {
    .item-services__title {
      font-size: calc(
				1.25rem + 0.125 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem )) {
    .item-services__text {
      font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem )) {
    .item-services__text {
      font-size: calc(
				1rem + 0.375 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3724489796rem  +  4.387755102vw , 3.9375rem )) {
    .portfolio__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3724489796rem  +  4.387755102vw , 3.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3724489796rem  +  4.387755102vw , 3.9375rem )) {
    .portfolio__header:not(:last-child) {
      margin-bottom: calc(
				1.25rem + 2.6875 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3724489796rem  +  4.387755102vw , 3.9375rem )) {
    .team__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3724489796rem  +  4.387755102vw , 3.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3724489796rem  +  4.387755102vw , 3.9375rem )) {
    .team__header:not(:last-child) {
      margin-bottom: calc(
				1.25rem + 2.6875 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 2.5rem )) {
    .team__buttons:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 2.5rem )) {
    .team__buttons:not(:last-child) {
      margin-bottom: calc(
				1.25rem + 1.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem )) or (column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem ))) {
    .slide-team__info {
      -webkit-column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem );
         -moz-column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem );
              column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem )) or (column-gap: clamp( 0.625rem , 0.3596938776rem  +  1.3265306122vw , 1.4375rem ))) {
    .slide-team__info {
      -webkit-column-gap: calc(
				0.625rem + 0.8125 * (100vw - 20rem) / 61.25
			);
         -moz-column-gap: calc(
				0.625rem + 0.8125 * (100vw - 20rem) / 61.25
			);
              column-gap: calc(
				0.625rem + 0.8125 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.556122449rem  +  3.4693877551vw , 3.375rem )) {
    .contact__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.556122449rem  +  3.4693877551vw , 3.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.556122449rem  +  3.4693877551vw , 3.375rem )) {
    .contact__header:not(:last-child) {
      margin-bottom: calc(
				1.25rem + 2.125 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4617346939rem  +  0.8163265306vw , 1.125rem )) {
    .form > *:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4617346939rem  +  0.8163265306vw , 1.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4617346939rem  +  0.8163265306vw , 1.125rem )) {
    .form > *:not(:last-child) {
      margin-bottom: calc(
				0.625rem + 0.5 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .form__label {
      font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .form__label {
      font-size: calc(
				1rem + 0.25 * (100vw - 20rem) / 61.25
			);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.1275510204rem  +  5.612244898vw , 4.6875rem )) {
    .info-contact__items {
      row-gap: clamp( 1.25rem , 0.1275510204rem  +  5.612244898vw , 4.6875rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.1275510204rem  +  5.612244898vw , 4.6875rem )) {
    .info-contact__items {
      row-gap: calc(
				1.25rem + 3.4375 * (100vw - 20rem) / 61.25
			);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 90em) {
@supports (font-size: clamp( 2.0625rem , 0.4197345317rem  +  3.422517187vw , 3.5rem )) {
    .header-block__title {
      font-size: clamp( 2.0625rem , 0.4197345317rem  +  3.422517187vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2.0625rem , 0.4197345317rem  +  3.422517187vw , 3.5rem )) {
    .header-block__title {
      font-size: calc(
				2.0625rem + 1.4375 * (100vw - 47.99875rem) / 42.00125
			);
    }
}

@supports (padding-top: clamp( 0.9375rem , -5.990684801rem  +  14.4340942234vw , 7rem )) {
    .footer {
      padding-top: clamp( 0.9375rem , -5.990684801rem  +  14.4340942234vw , 7rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -5.990684801rem  +  14.4340942234vw , 7rem )) {
    .footer {
      padding-top: calc(
				0.9375rem + 6.0625 * (100vw - 47.99875rem) / 42.00125
			);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -4.7764668462rem  +  11.9044076069vw , 5.9375rem )) {
    .footer {
      padding-bottom: clamp( 0.9375rem , -4.7764668462rem  +  11.9044076069vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -4.7764668462rem  +  11.9044076069vw , 5.9375rem )) {
    .footer {
      padding-bottom: calc(
				0.9375rem + 5 * (100vw - 47.99875rem) / 42.00125
			);
    }
}

@supports (padding-top: clamp( 5rem , -7.6421516473rem  +  26.3385018303vw , 16.0625rem )) {
    .main__content {
      padding-top: clamp( 5rem , -7.6421516473rem  +  26.3385018303vw , 16.0625rem );
    }
}

@supports not (padding-top: clamp( 5rem , -7.6421516473rem  +  26.3385018303vw , 16.0625rem )) {
    .main__content {
      padding-top: calc(
				5rem + 11.0625 * (100vw - 47.99875rem) / 42.00125
			);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -18.2667331329rem  +  41.9630368144vw , 19.5rem )) {
    .main__content {
      padding-bottom: clamp( 1.875rem , -18.2667331329rem  +  41.9630368144vw , 19.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -18.2667331329rem  +  41.9630368144vw , 19.5rem )) {
    .main__content {
      padding-bottom: calc(
				1.875rem + 17.625 * (100vw - 47.99875rem) / 42.00125
			);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -2.77657845rem  +  7.7378649445vw , 4.1875rem )) {
    .main__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -2.77657845rem  +  7.7378649445vw , 4.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -2.77657845rem  +  7.7378649445vw , 4.1875rem )) {
    .main__text:not(:last-child) {
      margin-bottom: calc(
				0.9375rem + 3.25 * (100vw - 47.99875rem) / 42.00125
			);
    }
}

@supports (padding-top: clamp( 1.875rem , -1.4819555222rem  +  6.9938394691vw , 4.8125rem )) {
    .who__content {
      padding-top: clamp( 1.875rem , -1.4819555222rem  +  6.9938394691vw , 4.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.4819555222rem  +  6.9938394691vw , 4.8125rem )) {
    .who__content {
      padding-top: calc(
				1.875rem + 2.9375 * (100vw - 47.99875rem) / 42.00125
			);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 90em) {
@supports (width: clamp( 2.5rem , 1.5625585925rem  +  3.1249348972vw , 4.375rem )) {
    .footer__button {
      width: clamp( 2.5rem , 1.5625585925rem  +  3.1249348972vw , 4.375rem );
    }
}

@supports not (width: clamp( 2.5rem , 1.5625585925rem  +  3.1249348972vw , 4.375rem )) {
    .footer__button {
      width: calc(
				2.5rem + 1.875 * (100vw - 29.99875rem) / 60.00125
			);
    }
}

@supports (height: clamp( 2.5rem , 1.5625585925rem  +  3.1249348972vw , 4.375rem )) {
    .footer__button {
      height: clamp( 2.5rem , 1.5625585925rem  +  3.1249348972vw , 4.375rem );
    }
}

@supports not (height: clamp( 2.5rem , 1.5625585925rem  +  3.1249348972vw , 4.375rem )) {
    .footer__button {
      height: calc(
				2.5rem + 1.875 * (100vw - 29.99875rem) / 60.00125
			);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 90em) {
@supports (padding-top: clamp( 0.0000000625rem , -20.4808153877rem  +  33.0342393197vw , 9.25rem )) {
    .who__container {
      padding-top: clamp( 0.0000000625rem , -20.4808153877rem  +  33.0342393197vw , 9.25rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -20.4808153877rem  +  33.0342393197vw , 9.25rem )) {
    .who__container {
      padding-top: calc(
				0.0000000625rem + 9.2499999375 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -20.4808153877rem  +  33.0342393197vw , 9.25rem )) {
    .who__container {
      padding-bottom: clamp( 0.0000000625rem , -20.4808153877rem  +  33.0342393197vw , 9.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -20.4808153877rem  +  33.0342393197vw , 9.25rem )) {
    .who__container {
      padding-bottom: calc(
				0.0000000625rem + 9.2499999375 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (padding-top: clamp( 1.25rem , -12.5883889112rem  +  22.3204321236vw , 7.5rem )) {
    .body-services {
      padding-top: clamp( 1.25rem , -12.5883889112rem  +  22.3204321236vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -12.5883889112rem  +  22.3204321236vw , 7.5rem )) {
    .body-services {
      padding-top: calc(
				1.25rem + 6.25 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -12.5883889112rem  +  22.3204321236vw , 7.5rem )) {
    .body-services {
      padding-bottom: clamp( 1.25rem , -12.5883889112rem  +  22.3204321236vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -12.5883889112rem  +  22.3204321236vw , 7.5rem )) {
    .body-services {
      padding-bottom: calc(
				1.25rem + 6.25 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -7.6780333467rem  +  13.3922592741vw , 4.375rem )) {
    .body-services__header:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -7.6780333467rem  +  13.3922592741vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -7.6780333467rem  +  13.3922592741vw , 4.375rem )) {
    .body-services__header:not(:last-child) {
      margin-bottom: calc(
				0.625rem + 3.75 * (100vw - 61.99875rem) / 28.00125
			);
    }
}
}

@media (min-width: 42.31125em) and (max-width: 90em) {
@supports (padding-bottom: clamp( 1.875rem , -0.7312603208rem  +  6.1597336898vw , 4.8125rem )) {
    .who__content {
      padding-bottom: clamp( 1.875rem , -0.7312603208rem  +  6.1597336898vw , 4.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.7312603208rem  +  6.1597336898vw , 4.8125rem )) {
    .who__content {
      padding-bottom: calc(
				1.875rem + 2.9375 * (100vw - 42.31125rem) / 47.68875
			);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 61.99875em) and (max-width: 90em) {
@supports (padding-bottom: clamp( 0.0000000625rem , -22.8333415026rem  +  36.8287127807vw , 10.3125rem )) {
    .services__picture {
      padding-bottom: clamp( 0.0000000625rem , -22.8333415026rem  +  36.8287127807vw , 10.3125rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -22.8333415026rem  +  36.8287127807vw , 10.3125rem )) {
    .services__picture {
      padding-bottom: calc(
				0.0000000625rem + 10.3124999375 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -20.3424314986rem  +  32.8110349984vw , 9.1875rem )) {
    .services__picture {
      padding-right: clamp( 0.0000000625rem , -20.3424314986rem  +  32.8110349984vw , 9.1875rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -20.3424314986rem  +  32.8110349984vw , 9.1875rem )) {
    .services__picture {
      padding-right: calc(
				0.0000000625rem + 9.1874999375 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (padding-left: clamp( 0.9375rem , -3.9059361189rem  +  7.8121512432vw , 3.125rem )) {
    .services__picture {
      padding-left: clamp( 0.9375rem , -3.9059361189rem  +  7.8121512432vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -3.9059361189rem  +  7.8121512432vw , 3.125rem )) {
    .services__picture {
      padding-left: calc(
				0.9375rem + 2.1875 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -22.8333415026rem  +  36.8287127807vw , 10.3125rem )) {
    .services__picture {
      padding-top: clamp( 0.0000000625rem , -22.8333415026rem  +  36.8287127807vw , 10.3125rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -22.8333415026rem  +  36.8287127807vw , 10.3125rem )) {
    .services__picture {
      padding-top: calc(
				0.0000000625rem + 10.3124999375 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (widht: clamp( 13.3125rem , -16.30165227rem  +  47.7657247444vw , 26.6875rem )) {
    .services__image img {
      widht: clamp( 13.3125rem , -16.30165227rem  +  47.7657247444vw , 26.6875rem );
    }
}

@supports not (widht: clamp( 13.3125rem , -16.30165227rem  +  47.7657247444vw , 26.6875rem )) {
    .services__image img {
      widht: calc(
				13.3125rem + 13.375 * (100vw - 61.99875rem) / 28.00125
			);
    }
}

@supports (height: clamp( 17.8125rem , -21.4885245078rem  +  63.3900272309vw , 35.5625rem )) {
    .services__image img {
      height: clamp( 17.8125rem , -21.4885245078rem  +  63.3900272309vw , 35.5625rem );
    }
}

@supports not (height: clamp( 17.8125rem , -21.4885245078rem  +  63.3900272309vw , 35.5625rem )) {
    .services__image img {
      height: calc(
				17.8125rem + 17.75 * (100vw - 61.99875rem) / 28.00125
			);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .services__picture {
    padding-bottom: 0.0000000625rem;
  }

  .services__picture {
    padding-right: 0.0000000625rem;
  }

  .services__picture {
    padding-left: 0.9375rem;
  }

  .services__picture {
    padding-top: 0.0000000625rem;
  }

  .services__image img {
    widht: 13.3125rem;
  }

  .services__image img {
    height: 17.8125rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) and (max-width: 90em) {
@supports (right: clamp( -4.0625rem , 20.312500375rem  +  -27.08333375vw , 0.0000000625rem )) {
    .services__image {
      right: clamp( -4.0625rem , 20.312500375rem  +  -27.08333375vw , 0.0000000625rem );
    }
}

@supports not (right: clamp( -4.0625rem , 20.312500375rem  +  -27.08333375vw , 0.0000000625rem )) {
    .services__image {
      right: calc(
				0.0000000625rem + -4.0625000625 * (100vw - 75rem) / 15
			);
    }
}

@supports (bottom: clamp( -1.4375rem , 7.187500375rem  +  -9.58333375vw , 0.0000000625rem )) {
    .services__image {
      bottom: clamp( -1.4375rem , 7.187500375rem  +  -9.58333375vw , 0.0000000625rem );
    }
}

@supports not (bottom: clamp( -1.4375rem , 7.187500375rem  +  -9.58333375vw , 0.0000000625rem )) {
    .services__image {
      bottom: calc(
				0.0000000625rem + -1.4375000625 * (100vw - 75rem) / 15
			);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 75em) {
  .services__image {
    right: 0.0000000625rem;
  }

  .services__image {
    bottom: 0.0000000625rem;
  }
}

@media (min-width: 75em) and (max-width: 90em) {
@supports (gap: clamp( 0.9375rem , -14.375rem  +  20.4166666667vw , 4rem )) {
    .body-services__items {
      gap: clamp( 0.9375rem , -14.375rem  +  20.4166666667vw , 4rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -14.375rem  +  20.4166666667vw , 4rem )) {
    .body-services__items {
      gap: calc(
				0.9375rem + 3.0625 * (100vw - 75rem) / 15
			);
    }
}
}

@media (min-width: 71.875em) and (max-width: 79.375em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem )) or (column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem ))) {
    .contact__container {
      -webkit-column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem );
         -moz-column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem );
              column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem )) or (column-gap: clamp( 0.9375rem , -43.3854166667rem  +  61.6666666667vw , 5.5625rem ))) {
    .contact__container {
      -webkit-column-gap: calc(
				0.9375rem + 4.625 * (100vw - 71.875rem) / 7.5
			);
         -moz-column-gap: calc(
				0.9375rem + 4.625 * (100vw - 71.875rem) / 7.5
			);
              column-gap: calc(
				0.9375rem + 4.625 * (100vw - 71.875rem) / 7.5
			);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 79.375em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem )) or (column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem ))) {
    .info-contact {
      -webkit-column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem );
         -moz-column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem );
              column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem )) or (column-gap: clamp( 0.9375rem , -3.5225208618rem  +  7.19372707vw , 2.1875rem ))) {
    .info-contact {
      -webkit-column-gap: calc(
				0.9375rem + 1.25 * (100vw - 61.99875rem) / 17.37625
			);
         -moz-column-gap: calc(
				0.9375rem + 1.25 * (100vw - 61.99875rem) / 17.37625
			);
              column-gap: calc(
				0.9375rem + 1.25 * (100vw - 61.99875rem) / 17.37625
			);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 47.99875em) {
  .info-contact__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #100c46;
    color: #fff;
  }

  .button_blue:hover {
    background-color: #4034e4;
    -webkit-box-shadow: 0px 10px 30px 10px rgba(98, 87, 254, 0.3);
            box-shadow: 0px 10px 30px 10px rgba(98, 87, 254, 0.3);
  }

  .footer__button:hover {
    background-color: #4034e4;
  }

  .portfolio__image-ibg img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .swiper-button-prev:hover {
    background-color: rgba(98, 87, 254, 0.6);
  }

  .swiper-button-next:hover {
    background-color: rgba(98, 87, 254, 0.6);
  }

  .slide-team__image-ibg img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-contact__link:hover {
    text-decoration: underline;
  }
}